/* Base style */
body {
  position: relative;
  width: 100%;
  height: 100%;

  background: #1B1D22;
}

td {
  width: 2%;
  border-radius: 10em;
}

tr {
  width: 16.8125em;
  height: 30px;
  
  overflow-y: auto;
  border-radius: 10px;
}


.spacex-logo {
  position: absolute;
  width: 13.25em;
  height: 2.625em;
  left: 2.5em;
  top: 2.5em;

  background-color: #979797;
}

.search {
  position: absolute;
  width: 20em;
  height: 3.125em;
  left: 27em;
  top: 2.9em;

  border-radius: 10px;
}

.rectangle {
  position: absolute;
  width: 46.8%;
  height: 42em; /* 851px */
  left: 16.3%; /* 360px  16.4% */
  top: 122px; /* 122px */
  z-index: 0;
  
  background: linear-gradient(124.01deg, #2D3038 0%, rgba(45, 48, 56, 0) 100%);
  border-radius: 30px;
}

h1 {
  width: 15.625em;
  height: 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.white-text {
  color: white;
}

.input {
  position: absolute;
  width: 20em;
  height: 3.1em;
  left: 3.777em;
  top: 15em;
  right: 41em;
  bottom: 609px;
  border-radius: 10px;
}

.Required-Cargo {
/* Number of required cargo bays */

position: absolute;
width: 468px;
height: 44px;
top: 272px;
left: 49px;
right: 519px;
bottom: 535px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 44px;
/* identical to box height, or 129% */

color: #979797;


}


.Cargo-Boxes {
/* Roboto body text */

position: absolute;
left: 51px;
right: 815px;
top: 135px;
bottom: 669px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-transform: uppercase;

color: #979797;


}


tbody {
  position: absolute;
  width: 270px;
  height: 500px;
  left: 40px;
  top: 122px;
  border-radius: 10px;
  color: white;
  size: 16px;
  overflow-y: auto;
}

/* Add this to your CSS */
.tr-hover:hover {
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(45, 48, 56, 0) 22.92%, #2D3038 100%) /* Replace these colors with your gradient */
  
}

.shipment-name {
  position: absolute;
  width: 999px;
  height: 74px;
  left: 49px;
  margin-top: 29px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  /* identical to box height, or 116% */

  color: #FFFFFF;
}

.shipment-email {
  position: absolute;
  width: 170px;
  height: 24px;
  left: 49px;
  top: 11%;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;


  color: #979797;
}

/* Media query for phones */
@media only screen and (max-width: 812px) {
  .spacex-logo {
    width: 9.5em;
    height: 2em;
    top: 1em;
    left: 1em;
  }

  .search {
    width: 335px;
    height: 40px;
    top: 80px;
    Left: 0.5em;
  }

  .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
  }

  .rectangle {
    width: 335px;
    height: 633px;
    Top: 150px;
    Left: 0.5em;
    border-radius: 20px;
  }
  .hamburger-icon {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  .shipment-list {
    display: none;
  }

  .shipment-name {
    color: #FFF;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 135.714% */
    left: 0.5em;
  }

  .shipment-email {
    display: flex;
    width: 170px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    left: 3.1em;
    top: 3em;
  }

  .Required-Cargo {
    color: #979797;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
    left: 2em;
    top: 12.5em;
  }

  .Cargo-Boxes {
    display: flex;
    width: 170px;
    height: 24px;
    justify-content: center;
    align-items: center;
    left: -1em;
    top: 6.5em;
  }
  
  .input {
    width: 305px;
    height: 40px;
    left: 0.777em;
    top: 11.5em;
  }

  .Cargo-Bays-Total {
    top: 5em;
  }

  tbody {
    top: 12em;
  }
}